*{
    margin: 0%;
    padding: 0%;
    font-family: Livvic;
}

section, header, footer{
    padding-left: 240px;
    padding-right: 240px;
}

.cover{
    padding-top: 268px;
    padding-bottom: 234px;
    background-image: url("images/back-1.png");
    background-repeat: no-repeat;
    overflow: visible;
    width: auto;
    height: auto;
}

.cover p{
    
    color: #FFF;
    font-family: Livvic;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
}

.cover h2{
    color: #FFF;
    font-family: Livvic;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dis{
    margin-top: 10px;
    width: 730px;
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cover button{
    cursor: pointer;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    background: #F7C35F;
    display: flex;
    padding: 25px 50px;
    align-items: flex-start;
    gap: 10px;
    color: #1A1A1A;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

footer button{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100px;
    background: #F7C35F;
    color: #1A1A1A;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

.cover button, footer button:hover{
    background: #F6D086;
}

.cover button, footer button:focus{
    background: #C58D21
}

.cover button, footer button:active{
    background: #A16C06;
    color: #FFF;
}




.food{
    padding-top: 78px;
    background-color: #334B35;
    height: 558px;
    text-align: center;
}

.food h3{
    padding-top: 20px;
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
}

.food h2{
    margin-top: 20px;
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
}

.con_f{
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 183px;
    height: 144px;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    flex-shrink: 0;
    background: #445945;
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.con_f:hover{
    background: #F7C35F;
    color: #000;
}

.con_f:focus{
    background: #6A8A6D;
}

.con_f:active{
    background: #263C28;
}



.con_f svg{
    margin-bottom: 10px;
}

.food_img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px ;
}

.mini-cover{
    padding-top: 284px;
    padding-bottom: 284px;
    background-image: url("images/back-2.png");
    background-repeat: no-repeat;
    overflow: visible;
    width: auto;
    height: auto;
}

.mini-cover h2{
    width: 609px;
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 95px;
    background-image: url("images/back-3.png");
    background-repeat: no-repeat;
    overflow: visible;
    width: auto;
    height: auto;
}

.projects p{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
}

.projects h2{
    margin-top: 20px;
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
    transition: 0.3s;
    cursor: pointer;
    margin-top: 100px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid rgba(225, 225, 225, 0);
    width: 307px;
    height: 342px;
    padding: 5px;
}

.card svg{
    vertical-align: bottom;
    margin-right: 5px;
    position: relative;
    z-index: 1px;
    margin-bottom: 0;
    margin-top: 300px;
}

.card div{
    vertical-align: bottom;
    margin-right: 5px;
    position: relative;
    z-index: 1px;
    margin-bottom: 0;
    margin-top: 290px;

}

.card p{
    color: #F7C35F;
    font-family: Livvic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.card .name-card{
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



.card:hover{
    border: #F7C35F solid 1px;
    box-shadow: 0px 0px 20px 1px rgba(247, 195, 95, 0.2);
    transform: translateY(-10px);
}

.card:active{
    border: #A16C06 solid 1px;
    width: 300px;
    height: 330px;
    transform: translateY(10px);
}

.card svg path:active{
    fill:#A16C06
}

.card:focus{
    border: #C58D21 solid 1px;
}

.card svg path:focus{
    fill:#C58D21
}

.main-c{
    border-radius: 50px;
    background: #F7C35F;
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

.circle{
    border-radius: 50px;
    background: #CCC;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.men{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

header{
    height: 110px;
    background-color: #334B35;
    display: flex;
    justify-content: space-between;
}

header nav{
    margin-top: 39px;
}

nav{
    display: flex;
}

header a{
    margin-left: 50px;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

nav div:hover #undl{
    height: 2px;
    width: auto;
    margin-left: 50px;
    background-color: #F7C35F;
}

footer{
    background: #263C28;
    height: 70px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

footer p{
    margin-top: 20px;
}

.info{
    display: flex;
}

.info p{
    margin-left: 25px;
}

.input{
    width: 222px;
    height: 55px;
    border-radius: 50px;
    background: #263C28;
    border: #334B35 solid 2px;
    padding-left: 20px;
    color: #FFF;
}
