header{
    height: 80px;
    background-color: rgb(87, 87, 87);
}

nav{
    display: flex;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
}

nav a{
    color: white;
    font-family: 'Teko';
    font-weight: 600px;
    font-size: 44px;
    text-decoration: none;
    margin-top: 13px;
}

nav a:hover{
    color: #E30A18;
}

nav svg:hover{
    color: #E30A18;
}

body{
    background-color: #e7cfaeea;
}

#about{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#about img{
    height: 500px;
    border-radius: 50px;
    border: 10px solid #9e040e;
}

#about h1{
    font-family: 'Teko';
    font-size: 100px;
    margin: 0%;
}

#about p{
    font-family: 'Josefin Sans';
    font-size: 40px;
    margin: 0%;
    margin-bottom: 15px;
}

#about p span{
    font-family: 'Josefin Sans';
    font-size: 40px;
    color: #9e040e;
}

#ex h2{
    font-family: 'Josefin Sans';
    font-size: 50px;
    color: white;
}

.img_src img{
    height: 300px;
}

.img_src{
    display: flex;
    justify-content: space-between;
}

.case h5{
    font-family: 'Teko';
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0%;
    color: #9e040e;
}

.img_src_p img{
    height: 280px;
}

.img_src_p{
    display: flex;
    justify-content: space-between;
}

#contacts{
    font-family: 'Josefin Sans';
    font-size: 30px;
    color: #9e040e;
    background-color: white;
    width: 350px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 50px;
    border: 2px solid black;
}

footer{
    background-color: gray;
    margin: 0px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

footer p{
    margin: 0px;
    padding-top: 20px;
    font-family: 'Teko';
    font-size: 50px;
    font-weight: 700;
    color: rgb(37, 37, 37);
}