.block{
    display: block;
    background-color: brown;
    margin-bottom: 10px;
}

.inline{
    display: inline;
    background-color:blueviolet;
    margin-right: 20px;
    padding: 10px;
    width: 400px;
}

.inline-block{
    display: inline-block;
    background-color: aquamarine;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
}